

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

*{
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,button,span,li,ul,ol,a{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: black;
  border: none;
  background-color: transparent;
}

#root{
  min-height: 100%;
  background-color: gray;
  
  
}

.App{
  margin: 0 auto;
  min-width: 320px;
  max-width: 1080px;
  min-height: 100%;
  height: auto;
  background-color: black;
  
}

/* 미디어쿼리 */
@media screen and (max-width: 1080px){
  html{
    font-size: 15px;
  }
}
@media screen and (max-width: 950px){
  html{
    font-size: 14px;
  }
}


@media screen and (max-width: 800px){
  html{
    font-size: 13px;
  }
}

@media screen and (max-width: 600px){
  html{
    font-size: 12px;
  }
}


@media screen and (max-width: 400px){
  html{
    font-size: 10px;
  }
}

